<!DOCTYPE html>
<html>
<head>
    <title>Items</title>
</head>
<body>

<h1>Items List</h1>
<a href="/create">Add Item</a>

<table border="1">
<tr>
    <th>Name</th>
    <th>Description</th>
    <th>Action</th>
</tr>

<% items.forEach(item => { %>
<tr>
    <td><%= item.name %></td>
    <td><%= item.description %></td>
    <td>
        <a href="/edit/<%= item._id %>">Edit</a>
        <form action="/delete/<%= item._id %>" method="POST" style="display:inline;">
            <button type="submit">Delete</button>
        </form>
    </td>
</tr>
<% }) %>

</table>

</body>
</html>